{% include '@app/header.twig' %}

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
      <div class="x_content">
          <div class="row form-group">
              <label class="control-label col-md-4 col-xs-12 col-sm-5" for="module_name">
                  Select module:
              </label>
              <div class="col-md-5 col-xs-12 col-sm-5" id="module_name">
                  <select class="form-control" name="module_name">
                      {% for module in modules_list %}
                        <option value="{{ module }}">{{ module }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          <div class="row form-group" id="controllers_block">
              <label class="control-label col-md-4 col-xs-12 col-sm-5" for="controllers_list">
                  Select controller side:
              </label>
              <div class="col-md-5 col-xs-12 col-sm-5" id="controllers_list">
                  <select class="form-control" name="controller_side">
                      {% for role in roles %}
                          <option value="{{ role }}">{{ role }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          <div class="row form-group" id="tables_block">
              <label class="control-label col-md-4 col-xs-12 col-sm-5" for="tables_list">
                  Select database table:
              </label>
              <div class="col-md-5 col-xs-12 col-sm-5" id="tables_list">
                  <select class="form-control" name="table">
                      {% for table in list_tables %}
                          <option value="{{ table }}">{{ table }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          <div class="hide"  id="model_block">
              <div class="row form-group">
                  <label class="control-label col-md-4 col-xs-12 col-sm-5" for="model_name">
                      Enter model name:
                  </label>
                  <div class="col-md-5 col-xs-12 col-sm-5" id="model_name">
                      <input type="text" class="form-control" name="model_name" value="" />
                  </div>
              </div>
              <div class="ln_solid"></div>
              <div class="row form-group">
                  <div class="col-md-offset-4 col-md-5 col-sm-offset-5 col-sm-5">
                      <input class="btn btn-success" type="button" name="btn_save" value="{% helper lang.l('btn_save', 'start', '', 'button') %}">
                      <a class="btn btn-default" href="{{ site_url }}admin/install/generator">
                          {% helper lang.l('btn_cancel', 'start') %}
                      </a>
                  </div>
              </div>
          </div>
          <div data-block="success"></div>
      </div>
  </div>
</div>
<script>
    $(function() {
        $(document).off('change', '[name="table"]').on('change', '[name="table"]', function () {
            let table = $(this).val();
            let module = $('[name="module_name"]').val();
            loadControllers(module, table);
        }).off('click', '[name="btn_save"]').on('click', '[name="btn_save"]', function () {
            generateCRUD();
        });

        function loadControllers(module, table) {
            $.ajax({
                url: '{{ site_url }}admin/install/example_model_name',
                type: 'POST',
                dataType: 'JSON',
                data: {table: table, module: module, btn_save: 1},
                cache: false,
                success: function (res) {
                    $('[name="model_name"]').val(res.data.model);
                    $('#model_block').removeClass('hide');
                }
            });
        }

        function generateCRUD() {
            let module_name = $('[name="module_name"]').val();
            let controller_side = $('[name="controller_side"]').val();
            let table = $('[name="table"]').val();
            let model_name = $('[name="model_name"]').val();
            $.ajax({
                url: '{{ site_url }}admin/install/generate_crud',
                type: 'POST',
                dataType: 'JSON',
                data: {table: table, module: module_name, model: model_name, controller_side: controller_side, btn_save: 1},
                cache: false,
                success: function (res) {
                    $('[name="model_name"]').val('');
                    $('#model_block').addClass('hide');
                    if (typeof (res.errors) != 'undefined' && res.errors != '') {
                        error_object.show_error_block(res.errors, 'error');
                    } else {
                        $('[data-block="success"]').html(function () {
                            let list = res.data.files_list;
                            let successBlock = '<div class="ln_solid"></div>';
                            successBlock += '<div style="padding:10px; background: #363537; color: #56DB3A; font-weight: bold;">';
                            successBlock += '<h3>' + res.data.success_msg + '</h3>';
                            successBlock += '<h4><span class="glyphicon glyphicon-folder-open" style="color: #FF8400"></span> : ' + res.data.module_path + '</h4>';
                            for (let i in list) {
                                if (list[i]['type'] == 'file') {
                                    successBlock += '<div><span class="glyphicon glyphicon-file" style="color: #FF8400"></span> ' + list[i]['path'] + '</div>'
                                }
                            }
                            successBlock += '</div>';

                            return successBlock;
                        });
                    }
                }
            });
        }
    })
</script>
{% include '@app/footer.twig' %}
