{% if data_logo.text_logo %}
    <h4 class="textlogo" id="logo">{{ data_logo.text_logo }}</h4>
{% else %}
    <img src="{{ site_root }}{{ data_logo.path }}?{{random()}}" border="0"
                    alt="{% helper seo.seo_tags_default('header_text') %}"
                    width="{{ data_logo.width }}"
                    height="{{ data_logo.height }}" id="logo">
{% endif %}