<div id="registration-widget-script">
    <script>
         site_url = '{{ site_url }}';
         site_rtl_settings = '{{ _LANG.rtl }}';
         site_root = '{{ site_root }}';
         theme = '{{ theme }}';
         site_error_position = 'center';
    </script>
</div>
<div id="registration-widget">{{ content }}</div>