<span class="user-menu-item">
    <span id="fav_{{ id_dest_user }}">
        <dt>
            <a class="add_to_fav {% if action == 'remove' %}hide{% endif %} link-r-margin"
               data-userId="{{ id_dest_user }}" href="{% helper seo.seolink('favorites', 'add', id_dest_user) %}"
               data-pjax="0" onclick="event.preventDefault();" title="{% helper lang.l('action_add', 'favorites') %}">
                <i class="fa fa-heart"></i>
            </a>
        </dt>
        <dd class="{% if action == 'remove' %}hide{% endif %}">
            <a class="add_to_fav link-r-margin"
               data-userId="{{ id_dest_user }}" href="{% helper seo.seolink('favorites', 'add', id_dest_user) %}"
               data-pjax="0" onclick="{% helper start.setAnalytics('user_profile', 'btn_add_to_favorites') %} event.preventDefault();" title="{% helper lang.l('action_add', 'favorites') %}">
                {% helper lang.l('action_add', 'favorites') %}
            </a>
        </dd>

        <dt>
            <a class="remove_from_fav {% if action == 'add' %}hide{% endif %} link-r-margin"
               data-userId="{{ id_dest_user }}" href="{% helper seo.seolink('favorites', 'remove', id_dest_user) %}"
               data-pjax="0" onclick="event.preventDefault();" title="{% helper lang.l('action_remove', 'favorites') %}">
                <i class="fa fa-heart"></i>
            </a>
        </dt>
        <dd class="{% if action == 'add' %}hide{% endif %}">
            <a class="remove_from_fav  link-r-margin"
               data-userId="{{ id_dest_user }}" href="{% helper seo.seolink('favorites', 'remove', id_dest_user) %}"
               data-pjax="0" onclick="event.preventDefault();" title="{% helper lang.l('action_remove', 'favorites') %}">
                {% helper lang.l('action_remove', 'favorites') %}
            </a>
        </dd>
    </span>
</span>
<script>
    $(function() {
        loadScripts(
                ["{% helper utils.jscript('favorites', 'favorites.js', 'path') %}"],
                function () {
                    favoritesObj = new favorites({
                        siteUrl: site_url
                    });
                },
                'favoritesObj'
                );
    });
</script>
